/*
******* GENERAL STYLING *******
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

/*
******* BUTTONS *******
 */
.joinButton {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.joinButton:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.joinButton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
.joinButton:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.joinButton:focus {
  outline: 1px transparent;
}
.joinButton:before {
  display: none;
}
.joinButton::-webkit-details-marker {
  display: none;
}

.sendButton {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 0 10px;
}
.sendButton:hover, .sendButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
.sendButton:active {
  opacity: 0.5;
}

/*
******* INDEX HTML *******
 */
.center {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.centerForm {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0 20px;
  margin: 20px;
  width: 230px;
}

.form-field {
  margin: 20px 0;
}
.form-field label {
  display: block;
  margin-bottom: 6px;
}
.form-field input,
.form-field select {
  border: 1px solid #e1e1e1;
  padding: 8px;
}

/*
******* CHAT HTML *******
 */
.chat {
  display: flex;
}

.userSidebar {
  overflow-y: scroll;
  width: 30%;
  height: 100vh;
}
.userSidebar ul {
  list-style-type: none;
}
.userSidebar li {
  background: #e6eaee;
  padding: 10px;
}

.chatWindow {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chatMessages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  list-style-type: none;
}

.chatFooter {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chatFooter li {
  background: #e6eaee;
  padding: 10px;
}
.chatFooter form {
  flex-grow: 1;
  display: flex;
  margin-bottom: 10px;
}
.chatFooter form * {
  margin-right: 10px;
}
.chatFooter input {
  border: 1px solid #FF4742;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1;
}
.chatFooter button {
  margin-right: 0;
}

.message {
  padding: 10px;
}

.messageTitle {
  display: flex;
  margin-bottom: 5px;
}
.messageTitle h4 {
  font-weight: 600;
  margin-right: 10px;
}
.messageTitle span {
  color: #999;
}

/*# sourceMappingURL=style.css.map */
